<!DOCTYPE html>
<html>
<body>
    <div class="container-fluid" style="background-color:white; font-family: 'Jazz LET', fantasy;font-size: x-large;  position:unset;bottom: 0px;">
        <div class="container" style="background-color:white;">
            <div class="row" >
                <div class="col-md-6">
                    <h6>Suggestions or Comments? <a href="aprilkasha42@gmail.com">Email Us!</a> || Leave Anonymous <a href="aprilkasha42@gmail.com">Feedback</a></h6>
                </div>
            <div class="row">
                <div class="col-md-12" style="padding-top:30px;">
                    <h6>About Author</h6>
                    <h6>Phylis Mercy Loves Writting,When She's not busy she shares her best content on her blog.</h6>
                </div>
            </div>
        </div>
    </div>
</body>

</html>